.challenge {
    &__container {
        text-align: center;
    }

    &__user-data-container {
        display: inline-block;
        left: 10px;
        margin: 0 auto;
        position: absolute;
        top: 50px;
    }

    &__user-data {
        align-items: center;
        display: flex;
        padding: 5px;
    }

    &__user-high-score {
        color: #FFF;
        margin-left: 15px;
    }

    &__delete-score {
        cursor: pointer;
        height: 12px;
        margin-left: 15px;
        width: 12px;
    }

    &__question {
        font-size: 40px;
        margin: 120px 0 20px;
    }

    &__input {
        background: transparent;
        border: 0;
        border-bottom: 2px solid #333;
        border-radius: 4px;
        color: #FFF;
        font-family: 'Titillium Web';
        font-size: 26px;
        margin-bottom: 10px;
        overflow: hidden;
        padding-bottom: 6px;
        text-align: center;
        width: 600px;

        &:focus {
            outline: none;
        }

        &--error {
            border-bottom: 2px solid red;
        }
    }

    &__answer {
        color: green;
        font-size: 26px;
    }

    &__wrong-word {
        color: red;
        font-size: 26px;
    }

    &__reset {
        background: transparent;
        border: 1px solid #333;
        cursor: pointer;
        font-size: 20px;
        margin-top: 10px;

        &:hover {
            border: 1px solid #FFF;
            color: #FFF;
        }
    }

    &__practice-link {
        margin-top: 15px;

        a {
            color: #333;
            text-decoration: none;

            &:hover {
                color: #FFF;
            }
        }
    }
}

.fb-share-button {
    left: 145px;
    position: absolute;
    top: 50px;
}

.practice {
    &__actions {
        margin-top: 20px;
    }

    &__select-form {
        display: inline-block;
        margin-left: 20px
    }

    &__select {
        font-size: 20px;
        text-align: center;
        width: 150px;
    }
}

@media (max-width: 1035px) {
    .challenge {
        &__question {
            font-size: 30px;
            margin-top: 75px;
        }

        &__input {
            font-size: 18px;
            width: 80%;
        }
    }
}
