.privacy-policy {
    background: #FFF;
    margin: 40px 20px 0;
    padding: 20px;

    &__link {
        bottom: 20px;
        color: #CCCFCF;
        left: 50px;
        position: absolute;
        text-decoration: none;
    }
}
